<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>網頁標題啦</title>
</head>
<body>
    <h3>Template測試</h3>
    <p><a href="/">{{name}}</a>，緊張囉，這是樣板檔案。</p>
    <br>
    <img src="http://127.0.0.1:3000/mWd3laxO_400x400.png"/>
    <hr>
    <form action="/sum" method="post">
        數字加總(1+....+?): <input type="text" name="max"/>
        <button>提交</button>
    </form>
    <form action="/form">
        輸入: <input type="text" name="data"/>
        <button>點擊送出表單</button>
    </form>
</body>
</html>