<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>變更密碼完成</title>
    <link rel="stylesheet" type="text/css" href="./public/t1.css">
</head>
<body>
    <div class="member-box">
        <h2>變更密碼成功</h2>
        <span>請重新登入</span>
        <div>
            <div style="text-align: center;">
                <a href="/">返回</a>
            </div>           
        </div>

    </div>
</body>
</html>